/*===GENERAL STYLES===*/
  *{
   box-sizing: border-box;
}
body {
    display: block;
    
}
header {
    background: url("assets/freedom.jpg") no-repeat center; 
    background-size: cover;
    margin: 0;
    padding: 0;
    width:100vw;
    height: 100vh;
    font-family: "Julius Sans One", sans-serif;
    text-align: center;
    display: table;
}
/*===WRAPPER STYLES===*/

.wrapper {
    display: table-cell;
    text-align: center;
    width: 90%;
    padding-top: 5rem; 
}
.byline h1 {
      font-weight:100;
      font-size: 0.95rem;
      line-height: 1.5rem;
      letter-spacing: .26rem;
       padding: 0 2.625rem;
    margin: 3rem 1rem;
    }


@media (min-width: 768px) {
  .byline h1 {
    margin: 8rem auto;
    font-size: 1.5rem;
    line-height: 2.05rem;
  }
}


@media (min-width:1024px) {
  .byline h1 { 
    font size: 4.15rem;
    max-width:  950px;
  } 
}


h1 {
  text-transform: uppercase;
}


.tagline  {
    font-family: "Crimson Text", serif;
 font-size: .98rem;
    font-style: oblique;
    margin:  0 auto;
}


