/*===GENERAL STYLES===*/
  *{
   box-sizing: border-box;
}
header {
    background: url("assets/freedom.jpg") no-repeat center; 
    background-size: cover;
    margin: 0;
    padding: 0;
    width:100vw;
    height: 100vh;
}
